<div class="account-page-tabs  ">
  <a href="/account">
    <div class="account-page-account-btn account active tabs-hover">
      <span class="account-btn-logo">
        {% render 'icon-customer', icon_name: 'account' %}
      </span>
      <div class="account-btn-logo-name">Account Details {{ url }}</div>
    </div>
  </a>
  <a href="/pages/orders">
    <div class="account-page-account-btn  orders tabs-hover">
      <span class="account-btn-logo">
        {% render 'icon-customer', icon_name: 'orders' %}
      </span>
      <div class="account-btn-logo-name">My Orders</div>
    </div>
  </a>
  <a href="/account/addresses">
    <div class="account-page-account-btn addresses  tabs-hover">
      <span class="account-btn-logo">
        {% render 'icon-customer', icon_name: 'address' %}
      </span>
      <div class="account-btn-logo-name">View Address</div>
    </div>
  </a>

  <a href="/account/logout" class="signout-account-page">
    <div class="account-page-account-btn signout  tabs-hover">
      <span class="account-btn-logo">
        {% render 'icon-customer', icon_name: 'sign out' %}
      </span>
      <div class="account-btn-logo-name">Sign Out</div>
    </div>
  </a>
</div>
