{{ "snippet-custom-product-usp.css" | asset_url | stylesheet_tag }}

<div class="custom-product-usp">
  <ul class="custom-product-usp__usp-list">
    <li class="custom-product-usp__each-usp">
      <img src="//veena-theme-fashion.myshopify.com/cdn/shop/files/1.svg?v=1707133983"  height="auto" width="auto">
      <h2 class="h4">Daily deals</h2>
    </li>
    <li class="custom-product-usp__each-usp">
      <img src="//veena-theme-fashion.myshopify.com/cdn/shop/files/2.svg?v=1707134003"  height="auto" width="auto">
      <h2 class="h4">Return policy</h2>
    </li>
    <li class="custom-product-usp__each-usp">
      <img src="//veena-theme-fashion.myshopify.com/cdn/shop/files/3.svg?v=1707134014"  height="auto" width="auto" >
      <h2 class="h4">secure payment</h2>
    </li>
    <li class="custom-product-usp__each-usp">
      <img src="//veena-theme-fashion.myshopify.com/cdn/shop/files/4.svg?v=1707134024"  height="auto" width="auto" >
      <h2 class="h4">Help center 24/7</h2>
    </li>
  </ul>
</div>