<script src="{{ 'custom-store-locator.js' | asset_url }}" defer="defer"></script>

{{ 'custom-store-locator.css' | asset_url | stylesheet_tag }}

<div class="store-locator">
  <div class="page-width">
    <div class="store-locator__section-heading">
      {% if section.settings.section_heading != blank %}
        <h2 class="h1">{{ section.settings.section_heading }}</h2>
      {% endif %}
    </div>
    <div class="store-locator__loctor">
      <div class="store-locator__input-container">
        <div class="store-locator__input grid grid--3-col-desktop">
          <div class="store-locator__category-container grid__item">
            <label>
              <select id="category-list">
                <option>Select Category</option>
              </select>
            </label>
          </div>
          <div class="store-locator__state-container grid__item">
            <label>
              <select id="state-list">
                <option>Select State</option>
              </select>
            </label>
          </div>
          <div class="store-locator__city-container grid__item">
            <label>
              City
              <select id="city-list">
                <option>Select City</option>
              </select>
            </label>
          </div>
        </div>
        <div>
          <button class="button" id="locator-button">Show Results</button>
        </div>
      </div>
      <div class="store-locator__locations">
        <ul class="store-locator__locations-list grid grid--4-col-desktop" id="locations-list"></ul>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "store locator",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "section heading",
      "id": "section_heading",
      "default": "Store Loacator"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "store locator"
    }
  ]
}
{% endschema %}
