.collection-banner {
  position: relative;
}
.collection-banner__image,
.collection-banner__image-mobile {
  width: 100%;
  max-width: 100%;
  max-height: 350px;
  object-fit: cover;
  display: block;
}

.collection-banner__image-mobile {
  display: none;
}

.collection-banner__info {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  
}

.collection-banner__title {
  margin: 0 0 15px;
  color: #fff;
}

@media only screen and (max-width: 749px) {
  .collection-banner__image {
    display: none;
  }
  .collection-banner__image-mobile {
    display: block;
  }
}
