.custom-usp{
  background: #f5f5f5;
}

.custom-usp__grid{
  padding: 0 15px;
}

.custom-usp_text{
  background: none;
}

.custom-usp__description p{
  opacity: 0.6;
  font-weight: 400;
  margin: 6px 0 0 0;
}

.custom-usp__icon svg{
  transition: transform 0.3s ease;
}
.custom-usp__icon:hover svg{
  transform: scaleX(-1);
}
