.custom-blogs__heading-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.custom-blogs__splide-wrapper{
  display: flex;
  /* flex-direction: column;
  row-gap: 10px;
  border: 1px solid red; */
}


.custom-blogs__slide{
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.custom-blogs__image{
  width: 100%;
  position: relative;
  overflow: hidden;
   border-radius: 16px;
  align-self: center;

}

.custom-blogs__image img{
  transition: transform 0.3s ease;

}


.custom-blogs__image:hover img{
  transform: scale(1.06);
}

.custom-blogs__blog-content{
  width: 80%;
}

.custom-blogs__blog-content{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-blogs__hr-line{
  margin: 0;
}

.custom-blogs__read-more{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.custom-blogs__tags{
  margin-bottom: 10px;
}

.custom-blogs__tag{
  color: #d03c3f;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}

.custom-blogs__tag:hover{
  color: #000;
}

.custom-blogs__image img{
  border-radius: 16px;
}


.custom-blogs__title:hover{
  color: #d03c3f;
}

.custom-blogs__author{
  margin: 10px 0;
  font-weight: 400;
}

.custom-blogs__info span{
  font-weight: 400;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
  margin-bottom: 10px;
}

.custom-blogs__read-more a{
  color: #000;
}

.custom-blogs .splide__arrow--next {
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    background: #000;
    border-radius: 50% 0 0 50%;
}


.custom-blogs .splide__arrow svg {
    fill: #fff;
    height: 1.2em;
    width: 1.2em;
    z-index:2;
}

.custom-blogs .splide__arrow--prev {
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    background: #000;
    border-radius: 0 50% 50% 0;
}

.custom-blogs .splide__arrow--prev:disabled, .custom-blogs .splide__arrow--next:disabled{
  display: none;
} 



.custom-blogs  .splide__arrow--prev::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; 
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, transparent 50%, #D03C3F 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 0 50% 50% 0;
}
.custom-blogs  .splide__arrow--next:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; 
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, transparent 50%, #D03C3F 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
}

.custom-blogs  .splide__arrow--prev:hover::before {
    background-position: -100% 0;
}

.custom-blogs  .splide__arrow--next:hover::before {
    background-position: -100% 0;
}

@media screen and (max-width: 749px){
  .custom-blogs__image .media--square{
    padding-bottom: 115%;
  }
}

@media screen and (min-width: 750px){
  .custom-blogs__heading-section{
    margin-bottom: 30px;  
  }

  .custom-blogs__splide-wrapper{
    flex-direction: row;
  }

  .custom-blogs__image{
    width: 60%;
  }

  .custom-blogs__tag{
    font-size: 14px;
  }
  
}


