.lookbook__image{
  position: relative;
  padding-bottom: 115%;
}

.lookbook__image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.lookbook__description p{
  margin: 5px 0 18px 0;
  font-weight: 400;
}

.lookbook__content{
  margin-top: 15px;
}

.lookbook__image-container{
  position: relative;
}

.lookbook__dot-container{
  display: flex;
  align-items: center;
  position: absolute;
}

.lookbook__dots {
  height: 22px;
  width: 22px;
  position: absolute;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.lookbook__dots:hover{
  transform: scale(1.3)
}

.lookbook__product-container{
  opacity: 0;
  margin-left: 10%;
  background: #fff;
  max-width: 250px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transform: translateX(50px);
  transition: transform 0.5s ease;
  visibility: hidden;
}

.lookbook__product-image img{
  width: 60px;
  height: 70px;
  border-radius: 10px;
}

.lookbook__product-content{
  margin-left: 5px;
}

.lookbook__product-title{
  font-size: 12px;
  color: #000;
}

.lookbook__product-content a{
  text-decoration: none;
}


.lookbook__product-price{
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.lookbook__product-title:hover{
  color : #d03c3f;
}

.lookbook__product-compare-price{
  font-size: 13px;
  opacity: 0.6;
  color: #000;
  text-decoration: line-through;
}

.lookbook__dot-container:hover  .lookbook__product-container{
  opacity: 1;
  visibility: unset;
  transform: translateX(10px);
}


