.featured-product-list__header-section{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.featured-product-list__featured-slider-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.featured-product-list__featured-container{
  position: relative;
}

.featured-product-list__featured-content{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 25px;
  display: flex;
}


.featured-product-list__image{
  position: relative;
  padding-bottom: 80%;
}

.featured-product-list__image img{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: top;
}

.featured-product-list__featured-info{
  background: none;
}

.featured-product-list__featured-heading{
  font-size: 18px;
  margin-bottom: 10px;
}


.featured-product-list__product-slider{
  width: 100%;
}



.featured-product-list .splide__arrow--next {
  right: 0;
  top: 30%;
  width: 50px;
  height: 50px;
  opacity: 1;
  background: #000;
  border-radius: 50% 0 0 50%;
}


.featured-product-list .splide__arrow svg {
  fill: #fff;
  height: 1.2em;
  width: 1.2em;
  z-index:2;
}

.featured-product-list .splide__arrow--prev {
  left: 0;
  top: 30%;
  width: 50px;
  height: 50px;
  opacity: 1;
  background: #000;
  border-radius: 0 50% 50% 0;
}

.featured-product-list .splide__arrow--prev:disabled, .featured-product-list .splide__arrow--next:disabled{
display: none;
} 

.featured-product-list__slide:hover .featured-product-list__image img{
transform: scale(1.1)
}

.featured-product-list  .splide__arrow--prev::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%; 
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, transparent 50%, #D03C3F 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0 50% 50% 0;
}
.featured-product-list  .splide__arrow--next:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%; 
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, transparent 50%, #D03C3F 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 50% 0 0 50%;
}

.featured-product-list  .splide__arrow--prev:hover::before {
  background-position: -100% 0;
}

.featured-product-list  .splide__arrow--next:hover::before {
  background-position: -100% 0;
}


@media screen and (min-width: 750px) {
  
  .featured-product-list__header-section{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .featured-product-list__featured-slider-section{
    flex-direction: row;
  }

  .featured-product-list__image{
    padding-bottom: 180%;
  }
  
  .featured-product-list__featured-heading{
    font-size: 20px;
    margin-bottom: 20px;

  }

  .featured-product-list__featured-container{
    width: 25%;
  }


  .featured-product-list__product-slider{
    width: 75%;
  }

  .featured-product-list .splide__arrow--prev,
  .featured-product-list .splide__arrow--next {
    top: 40%;
  }
  

}

