.testimonial__heading-section{
  margin-bottom: 30px;
}

.testimonial{
  background: #f5f5f5;
}

.testimonial__slide{
  background: #fff;
  padding: 25px;
}

.testimonial__image img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.testimonial__heading{
  margin-top: 15px;
}

.testimonial__designation{
  font-weight: 400;
  font-size: 14px;
}

.testimonial__comment p{
  margin: 20px 0 0 0;
  line-height: 22px;
}

.testimonial .splide__arrow--next {
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    background: #000;
    border-radius: 50% 0 0 50%;
}


.testimonial .splide__arrow svg {
    fill: #fff;
    height: 1.2em;
    width: 1.2em;
  z-index:2;
}

.testimonial .splide__arrow--prev {
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    background: #000;
    border-radius: 0 50% 50% 0;
}

.testimonial .splide__arrow--prev:disabled, .testimonial .splide__arrow--next:disabled{
  display: none;
} 

.testimonial__slide:hover .testimonial__image img{
  transform: scale(1.1)
}

.testimonial  .splide__arrow--prev::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; 
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, transparent 50%, #D03C3F 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 0 50% 50% 0;
}
.testimonial  .splide__arrow--next:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; 
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, transparent 50%, #D03C3F 50%);
    background-size: 200% 100%;
    transition: background-position 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
}

.testimonial  .splide__arrow--prev:hover::before {
    background-position: -100% 0;
}

.testimonial  .splide__arrow--next:hover::before {
    background-position: -100% 0;
}

