.custom-product-usp{
  padding: 20px;
}

.custom-product-usp__usp-list{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    list-style-type: none;
}

.custom-product-usp__each-usp{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.custom-product-usp__each-usp img{
  width: 35px;
  height: 40px;
}