.fresh-source__heading {
  text-align: center;
  margin: 0 auto 30px;
}
.fresh-source__collection-tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fresh-source__collection-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 auto 30px;
  background-color: rgb(245, 248, 250);
  border: none;
  border-radius: 20px;
}
.fresh-source__collection {
  padding: 10px 20px;
  border-radius: 20px;
}
.fresh-source__collection-tabs li.active {
  background-color: #f0f0f0;
  color: #333;
}
.active-collection{
    display: none;
}
