.custom-color-hovering-button {
  position: relative;
  overflow: hidden;
}

.custom-color-hovering-button span {
  z-index: 2;
  text-transform: capitalize;
}

.custom-color-hovering-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 0.4s ease-in-out;
  z-index: 1;
}

.custom-color-hovering-button:hover::before {
  width: 100%;
}

.custom-color-hovering-button:not(:hover)::before {
  width: 0;
  right: 0;
}